{{ "<!-- MailForm -->" | safeHTML }}
{{ with .Site.Params.mailform }}
<section id="five" class="wrapper style2 special fade">
    <div class="container">
        <header>
            <h2>{{ .title }}</h2>
            <p>{{ .description }}</p>
        </header>
        <form method="post" action="{{ .url }}" class="container 50%">
            <div class="row uniform 50%">
                <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                <div class="4u$ 12u$(xsmall)"><input type="submit" value="{{ .text }}" class="fit special" /></div>
            </div>
        </form>
    </div>
</section>
{{ end }}