{{ "<!-- Sidebar -->" | safeHTML }}
<section id="sidebar">
    {{ range last 6 .Parent.Pages }}
    <section>
        {{ if .Params.image }}
        <a href="{{ .Permalink }}" class="image fit"><img src="{{ .Params.image | absURL }}" alt="" /></a>
        {{ end }}
        <h3>{{ .Title }}</h3>
        <p>at {{ .Date.Format "Monday January 1, 2006" }}</p>
        <p>{{ .Summary }}</p>
        <footer>
            <ul class="actions">
                <li><a href="{{ .Permalink }}" class="button">Read Mode</a></li>
            </ul>
        </footer>
    </section>
    {{ end }}
</section>
